/*统一设置所以背景图片*/
.icon{
	background: url(../img/icon.png) no-repeat;
	/*2倍背景图 兼容苹果的浏览器*/
	-webkit-background-size: 375px auto;
	background-size:375px auto ;
}

header{
	height: 60px;
	max-width:750px ;
	max-height: 320px;
	background-color: #39435B;
	/*display：inline-block*/
	position: fixed;
	width: 100%;
	top: 0;
	/*加了定位和浮动margin: 0  auto; 失效了*/
	/*解决方法*/
	margin: 0  auto;
	left: 0;
	right: 0;
	padding: 12px 10px 0;
}
/*logo*/
header .logo{
	float: left;
	width: 120px;
	height: 35px;
	
}
header .logo a{
	display: block;
	height: 100%;
	font-size: 0;

}
/*search*/
header .search{
	float: left;
	/*css计算器:通过计算器添加search*/
	width: calc(100% - 165px);
	margin-right: 10px;	
	position: relative ;
	/*下边注释*/
}
/*通过定位在搜索框中 添加 图标 ：注意 搜索框足够的左填充*/

header .search em{
	/*绝对以后设置父标签相对定位，相对于父标签条调整位置*/
	position: absolute;
	top: 0;
	left: 5px;
	width: 35px;
	height: 35px;
	background-position: -120px 0;
}
header .search input{
	width: 100%;
	height: 35px;
	border-radius: 20px;
	padding: 5px 10px  5px 50px;
}
/*login*/
header .login{
	float: right;
	width: 35px;
	height: 35px;
}
header .login a{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
	background-position: -340px 0;
}

/*内容容器*/
.container{
	width: 100%;
	max-width: 750px;
	min-width: 320px;
	margin: 0 auto;
	/*height: 100px;
	background-color: palegoldenrod;*/
	/**/
	margin: 60px auto 80px;
}
/*轮播图*/
.carousel{
	width:100%;
	overflow: hidden;
}
.carousel ul{
	width: 300%;
	/*这仅仅是为了让left属性生效*/
	position: relative;
	/*调用动画*/
	animation: slide 10s infinite alternate; /*动画名称时间循环*/
}
.carousel ul li{
	width: calc(100% / 3);
	float: left;
}
/*定义动画*/
@keyframes slide{
	0%,5%{left: 0;}
	40%,50%{left: -100%;}
	90%,100%{left: -200%;}
}
/*导航*/
nav{
	background-color: #fff;
}
nav ul{
	padding: 0 10%;
	/*父标签开启弹性布局*/
	display: flex;
	/*子标签超出是否换行*/
	/*flex-wrap: ;*/
	/*子标签没排满，怎么分配剩余空间---子标签的对齐方式*/
	justify-content: space-around;
}

nav ul li{
	width: 45px;
}
nav ul li:nth-child(1){
	background-position: -25px -115px;
}
nav ul li:nth-child(2){
	background-position: -117px -115px;
}
nav ul li:nth-child(3){
	background-position: -208px -115px;
}
nav ul li:nth-child(4){
	background-position: -300px -115px;
}
nav ul li a{
	text-align: center;
	display: block;
	padding-top:50px ;
}
/*产品一*/
.products{
	margin: 10px 0;
	background-color: #fff;
	padding: 10px;
}
.products .hd{
	border-bottom: 1px #E1E5EE solid;
}
.products .hd .left{
    float: left;	
}
/*右边的a*/
.products .hd>a{
	float: right;
	color: #FFA500;
}
/*左边里边的a*/
.products .hd .left a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: 0 -42px;
}
/*产品内容书籍*/
.book{
	display: flex;
}
.book .book_left{
	flex: 1.6;	
	
}
.book .book_right{
	flex: 1.3;	
	padding: 30px 10px 0;
	border: 1px solid #E1E5EE;
}
.book .book_left .top{
	border-bottom: 1px solid #E1E5EE;
	
}
.book .book_left .top img{
	padding: 20px 10px;
	
}
.book .book_left .bottom img{
	width: 45%;
	margin: 1%;
	
}
.book .book_left .top2 img{
	width: 50%;
margin-top: 10px;
	
}
.book .book_left .bottom2 img{
	width: 50%;
	margin: 1%;
	
}
p{
	text-align: center;
	color: #666666;
}
/*底部*/
footer{
	max-width: 750px;
	min-width: 320px;
	background-color: #39435B;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
footer ul{
	display: flex;
	justify-content:space-around;
	
}
footer ul li{
	width: 45px;
}
footer ul li a{
	text-align: center;
	color: #fff;
	display: block;
	padding-top: 50px;
}
footer ul li:nth-child(1){
	background-position: -16px -245px;
}
footer ul li:nth-child(2){
	background-position: -119px -185px;
}
footer ul li:nth-child(3){
	background-position: -224px -185px;
}
footer ul li:nth-child(4){
	background-position: -327px -185px;
}